/* --------------------- css reset ----------------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

button {
  cursor: pointer;
}

/* ------ Utility Classes -------- */

.display-none {
  display: none !important;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 15px 35px;
  margin-top: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.8rem;
  transition: background-color 0.5s;
}

.btn-primary:hover {
  background-color: #ccae62;
}

.btn-secondary {
  display: inline-block;
  outline: none;
  border: none;
  text-decoration: none;
  background-color: #f1c40f;
  color: black;
  padding: 5px 18px;
  margin-top: 10px;
  border-radius: 30px;
  font-size: 1rem;
  transition: background-color 0.5s;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: #c9b975;
  color: white;
}

.btn-buy {
  display: inline-block;
  text-decoration: none;
  background-color: #3c07ff;
  color: white;
  padding: 12px;
  margin: 15px 0;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.9rem;
  width: 100%;
  border-radius: 20px;
  transition: background-color 0.5s;
  font-weight: 600;
  letter-spacing: 2px;
}

.btn-buy:hover {
  /* background-color: #ccae62; */
  background-color: #30336b;
  color: white;
}

.btn-reviews {
  outline: none;
  border: none;
  background: none;
  font-size: 0.82rem;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: #7a7a7a;
  transition: color 0.5s;
  cursor: pointer;
}

.btn-reviews:hover {
  /* color: #f1c40f; */
  color: #d8b320;
}

.btn-login-singup {
  display: inline-block;
  text-decoration: none;
  background-color: #3c07ff;
  color: white;
  padding: 9px 12px;
  margin: 15px 0;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.9rem;
  width: 100%;
  border-radius: 20px;
  transition: background-color 0.5s;
  font-weight: 600;
  letter-spacing: 1px;
  /* margin-top: 36px; */
}

.btn-login-singup:hover {
  background-color: #ccae62;
  background-color: #30336b;
  color: white;
}

.all-products-toggle-btn {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  display: inline-block;
  padding: 0 5px;
  color: #a4a4a4;
}

/* .all-products-toggle-btn:hover {
  color: #0984e3;
} */

.all-products-toggle-btn-active {
  /* color: #0984e3;
  color: gray; */
  color: black;
}

/* ------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------- */

#home-top-container {
  background: radial-gradient(#fdfbfb, #ebedee);
}

/* ----------- navbar ----------- */

nav {
  /* background-color: rgb(233, 220, 220); */
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  padding: 15px 60px;
}

nav a {
  text-decoration: none;
  color: #2c3e50;
}

#logo-box {
  display: inline-flex;
  align-items: center;
}

#logo-box span {
  display: inline-block;
  font-weight: 400;
  padding: 0 10px;
  font-size: 1.7rem;
  font-family: 'Permanent Marker', cursive;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  padding-left: 30px;
}

/* -------------- intro box ----------------- */

#intro-box h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 3.5rem;
  padding-bottom: 10px;
}

#intro-box {
  display: flex;
  flex-direction: row;
  max-width: 1240px;
  margin: auto;
  padding: 50px 30px;
  text-align: center;
  align-items: center;
}

#intro-left {
  flex-basis: 50%;
}

#intro-right {
  flex-basis: 50%;
}

#intro-right img {
  width: 80%;
  max-width: 360px;
}

/* ------ Featured Category -------- */

#featured-category {
  max-width: 1300px;
  margin: 80px auto 0 auto;
  padding: 0 15px;
  /* position: relative; */
}

#featured-category-box-outer {
  display: flex;
  justify-content: stretch;
  margin: 50px auto 100px;
}

.featured-category-box {
  display: flex;
  padding: 5px 30px;
  align-items: center;
  text-align: right;
  margin: 0 10px;
  border-radius: 5px;
}

.featured-category-box-left {
  height: 200px;
}

.featured-category-box-left img {
  height: 100%;
}

.featured-category-box-right h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

.featured-category-specification {
  font-size: 0.9rem;
}

#featured-category-box-1 {
  background-color: #dff9fb;
}

#featured-category-box-2 {
  background-color: #ffcccc;
}

#featured-category-box-3 {
  background-color: #dff9fb;
}

/* ----------- subscribe ----------- */

#subscribe-outer {
  margin-top: -50px;
  margin-bottom: 50px;
}

#subscribe-inner {
  max-width: 1300px;
  background: radial-gradient(#fdfbfb, #ebedee);
  border-radius: 10px;
  margin: auto;
  padding: 100px 50px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

#subscribe-inner h2 {
  font-size: 2.2rem;
}

#subscribe-inner form {
  font-size: 0;
}

#subscribe-inner form input {
  padding: 10px 25px;
  font-size: 1rem;
  border: none;
  border-radius: 30px 0 0 30px;
  outline: none;
  /* border: 1px solid black; */
  border-right: none;
  box-shadow: 0 0 0 1px #00000026, 0 2px 3px rgba(0, 0, 0, 0.2);
}

#subscribe-inner button {
  border: none;
  background-color: #0984e3;
  /* border: 1px solid #0984e3; */
  color: white;
  outline: none;
  font-size: 1rem;
  padding: 10px 15px;
  margin: 0;
  border-radius: 0 30px 30px 0;
  cursor: pointer;
  transition: background-color 0.5s;
  box-shadow: 0 0 0 1px #00000026, 0 2px 3px rgba(0, 0, 0, 0.2);
}

#subscribe-inner button:hover {
  background-color: #37719e;
}

/* ----------- brands ---------- */
#brands-outer {
  margin: 0 50px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#brands-outer img {
  width: 150px;
  margin: 0 50px;
  filter: grayscale(100%);
  /* transition: filter 0.5s; */
}

#brands-outer img:hover {
  cursor: pointer;
  filter: grayscale(0%);
}

/* ----------- footer -------------- */

#footer-outermost-container {
  background-color: #f2f2f2;
  margin-bottom: 0;
  padding: 20px 50px;
  padding-bottom: 0;
  color: #3d3d3d;
}

#footer-outer {
  padding: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

#footer-col-1 {
  flex-basis: 30%;
  padding-right: 25px;
  padding-left: 25px;
}

#footer-col-1 address {
  margin-top: 15px;
}

.footer-col-gen {
  flex-basis: 20%;
}

.footer-col-gen ul {
  list-style: none;
}

.footer-col-gen h3 {
  font-weight: 600;
}

.footer-col-gen a {
  color: #3d3d3d;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.5s;
}

.footer-col-gen a:hover {
  color: #3742fa;
}

#footer-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

#footer-payment-outer {
  text-align: center;
}

.footer-payment-each {
  display: inline-block;
  margin: 0 15px;
}

#copyright {
  padding: 10px 35px;
  text-align: center;
}

#footer-copyright-payment-outer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}

/* -------------- products ---------------- */

.products-outer {
  max-width: 1300px;
  margin: 100px auto 120px auto;
  padding: 0 15px;
}

.products-outer h2 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 2.7rem;
  position: relative;
  margin-bottom: 20px;
}

.products-outer h2::after {
  content: '';
  background: #ff523b;
  width: 100px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
}

.products-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.each-product-outer {
  margin: 30px 10px 0;
  /* box-shadow: 0 0 0 1px #00000026, 0 2px 3px rgba(0, 0, 0, 0.2); */
  border-radius: 5px;
  padding: 20px 15px;
  transition: box-shadow 0.2s;
}

.each-product-outer:hover {
  cursor: pointer;
  box-shadow: 0 0 0 1px #00000026, 0 2px 3px rgba(0, 0, 0, 0.2);
}

.each-product-outer img {
  width: 250px;
  height: 250px;
}

.product-brand {
  color: #7f8c8d;
  /* color: #95a5a6; */
  font-size: 0.9rem;
  margin-bottom: -2px;
}

.product-name {
  font-size: 1.1rem;
  font-weight: 500;
}

.each-product-outer:hover .product-name {
  text-decoration: underline dotted;
}

.product-ratings-outer {
  font-size: 0.85rem;
  margin: 5px 0;
}

.product-ratings-star {
  color: #f1c40f;
}

.each-product-description {
  display: none;
}

.product-price-strike {
  display: inline-block;
  color: #7f8c8d;
  margin-left: 5px;
  font-size: 0.9rem;
}

.product-price-act {
  font-size: 1.2rem;
  color: #0984e3;
  font-weight: 500;
}

/* --------------- specific product --------------------- */

#spec-product-outer {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  margin: 55px auto;
  color: rgb(68, 68, 68);
  font-family: 'Roboto', sans-serif;
}

#spec-product-right {
  margin-left: 50px;
}

#spec-product-left-inner {
  display: flex;
  flex-direction: column;
}

#spec-product-image-act {
  width: 580px;
  height: 580px;
  border-radius: 5px;
}

#spec-product-images-outer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
}

.spec-product-images-inner {
  padding: 5px 10px;
  box-shadow: 0 0 0 1px #00000026, 0 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

#spec-product-images-outer img {
  display: inline-block;
  width: 70px;
  height: 70px;
}

#spec-product-outer h1 {
  padding-bottom: 10px;
  font-size: 32px;
  line-height: 42px;
  font-weight: 600;
  font-family: 'IBM Plex Mono', monospace;
  letter-spacing: 1px;
}

#spec-product-brand {
  font-size: 1rem;
  line-height: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.spec-product-ratings-outer {
  font-size: 0.85rem;
  margin: 0 0;
  letter-spacing: 1px;
}

.spec-product-ratings-star {
  color: #f1c40f;
}

.spec-product-ratings-count {
  margin-left: 10px;
}

#spec-product-savings {
  font-size: 0.85rem;
}

#spec-product-savings strong {
  font-size: 0.9rem;
  font-weight: 500;
}

#spec-product-product-prices-savings {
  padding: 10px 0;
}

#spec-product-brand-ratings {
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
}

#spec-product-price-act {
  color: #3c07ff;
  font-size: 1.7rem;
  display: inline-block;
  margin-right: 10px;
  font-weight: 500;
}

#spec-product-price-cross {
  color: gray;
}

#spec-prod-delivery-and-safety {
  font-size: 12px;
  line-height: 28px;
  padding: 7px 10px;
  letter-spacing: 1px;
  font-style: italic;
}

#spec-prod-delivery-and-safety li {
  list-style-type: none;
}

#spec-prod-delivery-and-safety i {
  width: 18px;
}

#spec-product-desc p {
  margin-top: 5px;
  color: #979797;
  font-size: 14px;
  line-height: 28px;
}

/* specific product zoom */

#spec-product-image-dv-inner {
  position: relative;
  left: 0;
  top: 0;
}

#spec-product-zoom-lens {
  position: absolute;
  /* border: 1px solid #ffffff; */
  width: 220px;
  height: 220px;
  cursor: crosshair;
  top: 0;
  left: 0;
  display: none;
  /* background-color: red; */
}

#spec-product-zoom-lens::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* background-image: radial-gradient(rgb(52, 152, 219) 33%, transparent 33%); */
  background-image: radial-gradient(rgb(0, 153, 255) 33%, transparent 33%);
  background-size: 2px 2px;
  z-index: 2;
}

#spec-product-image-div {
  position: relative;
  left: 0;
  right: 0;
}

#spec-product-zoom-view {
  /* box-shadow: 0 0 0 1px #00000026, 0 2px 3px rgba(0, 0, 0, 0.2); */
  width: 580px;
  height: 580px;
  /* background-color: lightcyan; */
  position: absolute;
  top: 0;
  left: calc(100% + 10px);
  display: none;
}

/* ----------- specific product extras ------------- */

#spec-prod-extras-wrapper {
  padding: 10px 0 30px;
}

#spec-prod-extras-outer {
  max-width: 1200px;
  padding: 0 30px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

#spec-prod-extras-outer h2 {
  font-size: 2rem;
  line-height: 2.25rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 10px 0;
  font-weight: 500;
  font-family: 'Roboto Condensed', sans-serif;
  color: #333333;
  position: relative;
  margin-bottom: 35px;
}

#spec-prod-extras-outer h2::after {
  content: '';
  background: #ff523b;
  width: 100px;
  height: 3px;
  border-radius: 5px;
  position: absolute;
  bottom: -3px;
  left: 0%;
}

#spec-prod-extras-outer section {
  margin: 50px 0 30px 0;
}

#spec-prod-details-para {
  font-size: 0.85rem;
  line-height: 1.6rem;
  letter-spacing: 0.3px;
  text-align: justify;
  color: rgb(104, 104, 104);
  margin-top: -10px;
}

#spec-product-specifications table {
  text-align: left;
  margin: 7px 0px;
  font-size: 0.85rem;
  border-collapse: collapse;
  letter-spacing: 0.4px;
  line-height: 1.5rem;
  border: 1px solid #cccccc;
  color: #333333;
}

#spec-product-specifications tr:nth-child(even) {
  background-color: #f2f2f2;
}

#spec-product-specifications table td,
#spec-product-specifications table th {
  padding: 7px 14px;
  vertical-align: top;
}

#spec-product-specifications table th {
  width: 25%;
  font-weight: 600;
}

#spec-product-specifications table td {
  width: 75%;
}

/* ----------------- reviews --------------------- */
#reviews-section {
  font-size: 0.85rem;
  letter-spacing: 0.4px;
}

#reviews-all-h2-and-sort-by {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#reviews-all-sort-by-select {
  /* padding: 1px 3px; */
  padding: 3px 8px;
}

#reviews-section h2 {
  margin-bottom: 20px;
}

#reviews-num-and-stars {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#reviews-num {
  /* background-color: #bdc3c7; */
  background-color: #2c9de8;
  padding: 5px 12px;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
}

.reviews-star {
  font-size: 1rem;
  letter-spacing: 0;
  color: #f1c40f;
  padding: 0.5rem 0;
}

#write-review-btn {
  color: white;
  background: #f1c40f;
  margin-left: auto;
  margin-top: 0;
}

#write-review-btn:hover {
  background-color: #c9b975;
}

#reviews-section h4 {
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.6px;
}

.reviews-inner-act {
  border-bottom: 1px solid #cccccc;
  padding: 24px 0;
}

#reviews-top-outer {
  padding-top: 5px;
}

#reviews-net-outer {
  display: flex;
  align-items: flex-end;
}

#reviews-based-on {
  padding-left: 25px;
  padding-bottom: 0.6rem;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.6px;
  color: #7a7a7a;
}

#reviews-top-inner-bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.reviews-by-and-date {
  font-size: 0.8rem;
  color: #7a7a7a;
}

.reviews-by,
.reviews-date {
  font-weight: 600;
}

.reviews-body {
  margin: 13px 0 17px;
  line-height: 1.5rem;
}

.mark-inapp-outer {
  text-align: right;
}

#see-more-reviews {
  outline: none;
  border: none;
  background: none;
  font-size: 1rem;
  color: #0066c0;
  font-weight: 500;
  padding-top: 13px;
  cursor: pointer;
  display: inline-block;
  /* transition: color 0.5s; */
}

#see-more-reviews:hover {
  color: #ff523b;
  text-decoration: underline;
}

/* reviews form */

#reviews-form-wrapper h3 {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 1rem;
  position: relative;
  left: 0;
  right: 0;
}

#reviews-form-wrapper h3::after {
  content: '';
  background: #ff523b;
  width: 50px;
  height: 1.5px;
  border-radius: 5px;
  position: absolute;
  bottom: -7px;
  left: 0;
}

.reviews-form-group {
  margin-bottom: 12px;
}

#reviews-form-wrapper label {
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

#reviews-form-wrapper input[type='text'],
textarea {
  width: 100%;
  resize: none;
  padding: 5px 10px;
  border-radius: 2px;
  font-size: 0.8rem;
  outline: none;
  border: 1px solid #cccccc;
  letter-spacing: 0.4px;
}

#reviews-form-wrapper input:disabled {
  background-color: #f5f5f5;
}

#reviews-form-ratings {
  /* position: absolute;
  z-index: -100;
  visibility: hidden; */
  display: none;
}

.reviews-form-rating-star-btn {
  border: none;
  background: none;
  outline: none;
  font-size: 0.75rem;
  color: #f1c40f;
  padding: none;
  margin: none;
  cursor: pointer;
}

#reviews-form-rating-star-btn-wrapper {
  margin-top: -2px;
  cursor: context-menu;
}

#reviews-form-submit-button {
  color: white;
  margin-top: 2px;
}

/* ---------------- all reviews ---------- */
#reviews-all-desc-head {
  margin-top: 40px;
  display: flex;
  align-items: center;
  /* border-bottom: 1px solid black; */
}

#reviews-all-wrapper h2 {
  font-size: 2.7rem;
}

#reviews-all-desc-head-right {
  padding: 0 30px;
  padding-left: 50px;
}

#reviews-all-desc-head-right a {
  color: black;
  text-decoration: none;
}

#reviews-all-desc-head-left img {
  width: 70px;
  height: 70px;
}

#reviews-all-desc-head-brand {
  font-size: 0.9rem;
  color: #7f8c8d;
}

#reviews-all-desc-head-right h3 {
  font-size: 1.1rem;
  font-weight: 500;
}

#reviews-all-prices-savings {
  display: flex;
  align-items: flex-end;
}

#reviews-all-price-act {
  font-size: 1.2rem;
  color: #0984e3;
  font-weight: 500;
}

#reviews-all-price-cross {
  display: inline-block;
  color: #7f8c8d;
  margin: 0 10px 0 5px;
  font-size: 0.9rem;
}

#reviews-all-savings {
  font-size: 0.95rem;
  font-weight: 500;
  color: #686f6f;
}

#reviews-section #reviews-based-on {
  font-size: 0.9rem;
}

/* ----------------- login / signup ----------------------------- */

#login-singup-body {
  background: #f8f8f8;
}

#login-sign-up-wrapper {
  background-color: white;
  width: 920px;
  margin: 50px auto;
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 75px 0;
  display: flex;
  align-items: center;
}

#login-signup-left-div,
#login-signup-right-div {
  width: 50%;
  padding: 20px 60px;
}

#login-signup-left-div img {
  width: 100%;
}

#login-sign-up-wrapper h1 {
  padding-bottom: 10px;
  font-size: 2.5rem;
  margin-bottom: 30px;
  position: relative;
  left: 0;
  top: 0;
  color: #1e272e;
}

#login-sign-up-wrapper h1::after {
  content: '';
  background: #3c07ff;
  width: 100px;
  height: 3.5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0px;
  left: 0;
}

.login-signup-form-group {
  position: relative;
  margin-bottom: 27px;
}

.login-signup-form-group input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  padding: 5px 20px 10px 35px;
  left: 0;
  right: 0;
  font-size: 0.9rem;
  font-weight: 400;
}

.login-signup-form-group input:focus {
  border-bottom: 1px solid black;
}

.login-signup-form-group::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  position: absolute;
  left: 5px;
  bottom: 13px;
  z-index: 1;
  content: '';
  font-size: 0.7rem;
}

.login-signup-form-group-name::before {
  content: '\f007';
}

.login-signup-form-group-email::before {
  content: '\f0e0';
}

.login-signup-form-group-password::before {
  content: '\f084';
}

#login-signup-forgot-password-div {
  text-align: right;
}

#login-sign-up-wrapper a {
  color: #485460;
  /* color: #787e84; */
  font-size: 0.9rem;
}

#login-singup-left-btn-div {
  margin-top: 20px;
  text-align: center;
}

#login-singup-left-btn-div a {
  font-size: 1rem;
  text-decoration: none;
}

#login-sign-up-wrapper a:hover {
  transition: color 0.5s;
  color: #3742fa;
}

.login-signup-group-tnc {
  margin-top: -5px;
  margin-bottom: 10px;
}

.login-signup-group-tnc label {
  font-size: 0.85rem;
  padding-left: 7px;
}

#login-sign-up-wrapper .login-signup-group-tnc label a {
  font-size: 0.85rem;
}

/* ---------------- all products -------------- */
#all-products-wrapper {
  margin-top: 60px;
}

#all-products-wrapper .products-header-div {
  display: flex;
  justify-content: space-between;
  padding: 0 80px 0 70px;
  align-items: center;
}

#all-products-wrapper h2::after {
  left: 0;
  transform: none;
}

#all-products-header-right select {
  margin-right: 5px;
}

/* ---------------- column view of products ---------------- */
.products-column-view {
  max-width: 1200px;
}

#all-products-wrapper.products-column-view .products-header-div {
  padding: 0 5px 0 30px;
  width: 90%;
  margin: auto;
}

.products-column-view .products-inner {
  flex-direction: column;
}

.products-column-view .each-product-outer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  box-shadow: none;
  border-radius: 0;
  margin-top: 20px;
}

.products-column-view .each-product-outer img {
  width: 220px;
  height: 220px;
  display: inline-block;
  margin: 0 30px;
}

.products-column-view .each-product-right {
  padding: 20px 30px 20px 40px;
  padding-right: 0;
}

.products-column-view .each-product-description {
  display: block;
  margin: 10px 0 15px;
}

#all-products-header-right select {
  margin-left: 15px;
}

/* -------------- cart ------------- */

#cart-wrapper {
  width: 1150px;
  margin: 50px auto;
  margin-bottom: 150px;
  display: flex;
  justify-content: space-between;
}

#cart-left {
  width: 70%;
}

#cart-right {
  width: 27%;
}

#cart-wrapper h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2.2rem;
  position: relative;
  margin-bottom: 30px;
}

#cart-wrapper h2::after {
  content: '';
  background: #ff523b;
  width: 100px;
  height: 3px;
  border-radius: 5px;
  position: absolute;
  bottom: -7px;
  left: 0;
}

h2#cart-summary-heading {
  margin-bottom: 40px;
}

.cart-item-outer {
  padding: 24px 0;
  border-bottom: 1px solid lightgray;
}

.cart-item {
  display: flex;
  letter-spacing: 0.4px;
  font-size: 0.85rem;
}

.cart-item-left {
  width: 150px;
  height: 150px;
}

.cart-item-left img {
  width: 100%;
}

.cart-item-right {
  padding: 0 30px;
}

.cart-item-brand {
  font-size: 0.9rem;
  color: #7f8c8d;
}

.cart-item-name {
  font-size: 1.1rem;
  font-weight: 500;
}

.cart-item-name a {
  color: black;
  text-decoration: none;
}

/* .cart-item-name a:hover {
  color: goldenrod;
} */

.cart-item-price-outer {
  display: flex;
  align-items: flex-end;
}

.cart-item-total-price {
  font-size: 1.2rem;
  color: #0984e3;
  font-weight: 500;
}

.cart-item-price-strike {
  display: inline-block;
  color: #7f8c8d;
  margin: 0 10px 1px 5px;
  font-size: 0.9rem;
}

.cart-item-discount {
  font-size: 0.95rem;
  font-weight: 500;
  color: #686f6f;
}

.cart-item-quantity-remove-outer {
  display: flex;
  margin-top: 15px;
  align-items: center;
}

.cart-item-quantity-outer {
  border: 1px solid #95a5a6;
  margin-right: 20px;
  border-radius: 3px;
}

.cart-item-quantity-outer button {
  border: none;
  outline: none;
  background: none;
  height: 25px;
  line-height: 23px;
  padding: 1px 5px;
  cursor: pointer;
}

.cart-item-quantity-outer input {
  width: 38px;
  height: 25px;
  padding: 1px;
  text-align: center;
  font-size: 0.8rem;
  line-height: 23px;
  /* -webkit-appearance: none; */
  margin: 0;
  outline: none;
  border: none;
  border-left: 1px solid #95a5a6;
  border-right: 1px solid #95a5a6;
}

.cart-item-quantity-outer input:disabled {
  background-color: white;
  color: black;
}

.cart-item-quantity-outer input::-webkit-inner-spin-button,
.cart-item-quantity-outer input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.cart-item-remove {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  font-weight: 0.9rem;
  letter-spacing: 0.4px;
}

.cart-item-remove:hover {
  color: #0066c0;
}

/* For right */

.cart-net-desc {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

#cart-total {
  padding: 10px 0;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  font-weight: 600;
}

/* ------------- Wishlist ------------- */
#wishlist-wrapper {
  max-width: 1050px;
  margin: 50px auto;
  margin-bottom: 150px;
  display: flex;
  justify-content: space-between;
}

#wishlist-left {
  width: 100%;
  margin: 0 50px 0 50px;
}

#wishlist-wrapper h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2.2rem;
  position: relative;
  margin-bottom: 30px;
}

#wishlist-wrapper h2::after {
  content: '';
  background: #ff523b;
  width: 100px;
  height: 3px;
  border-radius: 5px;
  position: absolute;
  bottom: -7px;
  left: 0;
}

h2#wishlist-summary-heading {
  margin-bottom: 40px;
}

.wishlist-item-outer {
  padding: 24px 0;
  border-bottom: 1px solid lightgray;
}

.wishlist-item {
  display: flex;
  letter-spacing: 0.4px;
  font-size: 0.85rem;
}

.wishlist-item-left {
  width: 150px;
  height: 150px;
}

.wishlist-item-left img {
  width: 100%;
}

.wishlist-item-right {
  padding: 0 30px;
  padding-left: 60px;
}

.wishlist-item-brand {
  font-size: 0.9rem;
  color: #7f8c8d;
}

.wishlist-item-name {
  font-size: 1.1rem;
  font-weight: 500;
}

.wishlist-item-name a {
  color: black;
  text-decoration: none;
}

/* .wishlist-item-name a:hover {
  color: goldenrod;
} */

.wishlist-item-price-outer {
  display: flex;
  align-items: flex-end;
}

.wishlist-item-total-price {
  font-size: 1.2rem;
  color: #0984e3;
  font-weight: 500;
}

.wishlist-item-price-strike {
  display: inline-block;
  color: #7f8c8d;
  margin: 0 10px 1px 5px;
  font-size: 0.9rem;
}

.wishlist-item-discount {
  font-size: 0.95rem;
  font-weight: 500;
  color: #686f6f;
}

.wishlist-item-addCart-remove-outer {
  display: flex;
  margin-top: 15px;
  align-items: center;
}

.wishlist-add-to-cart {
  background: none;
  border: none;
  outline: none;
  /* border: 1px solid #95a5a6; */
  margin-right: 12px;
  border-radius: 3px;
  padding: 2px 10px;
  text-align: center;
  font-size: 0.8rem;
  line-height: 23px;
  outline: none;
  border-radius: 20px;
  /* background: #3c07ff; */
  color: white;
  background: #0984e3;
  transition: background 0.5s;
}

.wishlist-add-to-cart:hover {
  background: #155d94;
}

.wishlist-item-remove {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  font-weight: 0.9rem;
  letter-spacing: 0.4px;
}

.wishlist-item-remove:hover {
  color: #0066c0;
}
