.btn {
  display: inline-block;

  @include currentColorOptions;

  border: none;
  background: var(--current-color);

  text-decoration: none;
  cursor: pointer;
  outline: none;

  color: white;
  font-size: inherit;
  font-family: inherit;
  font-weight: 300;
  text-align: center;
  line-height: inherit;

  padding: 0.8rem 1.8rem;
  border-radius: 3px;

  transition: all 0.2s;

  &--only-icon {
    font-size: 1rem;
    padding: 1rem 1.4rem;
  }

  &:hover,
  &:active {
    background-color: var(--current-color-dark);
    transform: translateY(-1px);
    box-shadow: 0 3px 6px rgba(#000, 0.2);
  }

  &--text {
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    background-color: transparent;
    color: var(--current-color);

    &:hover,
    &:active {
      color: var(--current-color-dark);
      background-color: transparent;
      transform: translateY(0);
      box-shadow: none;
      text-decoration: underline;
    }
  }

  &--dark {
    background-color: var(--color-grey-dark-1);

    &:hover,
    &:active {
      background-color: var(--color-dark-hover);
    }
  }

  &--big {
    padding: 1.5rem 3.5rem;
  }
}
