.product-desc {
  &__brand {
    font-size: 1.4rem;
    color: var(--color-grey-dark-2);
    margin-bottom: -0.5rem;
  }

  font-weight: 400;

  &__ratings {
    margin: 0.3rem 0;
    font-size: 1.4rem;
  }

  &__ratings-star {
    color: var(--color-yellow);
    font-size: 0.95em;
    margin-right: 0.3rem;
  }

  &__name {
    font-size: 1.6rem;
  }

  &__price {
    & > * {
      display: inline-block;
    }
  }

  &__price-act {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--color-blue-dark);
  }

  &__price-strike {
    font-size: 1.4rem;
    color: var(--color-grey-dark-2);
    text-decoration: line-through;
  }

  &__price-off {
    margin-left: 2px;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-grey-dark-2);
  }

  &__extras {
    margin-top: 1rem;
  }
}
