/* ----------------------------------
Basic Css reset
----------------------------------*/

/* Css reset */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* Definition of 1 rem = 10px */
html {
  font-size: 62.5%; // 10px / 16px = 62.5%, setting definiton of 1rem
}

/* Setting box sizing border box so that everyone can inherit */
body {
  box-sizing: border-box;
  // background-color: var(--color-background);

  height: 200vh;
}
