/* ----------------------------------
Default Font property 
----------------------------------*/

/* Setting the default font-family for all everything */
*,
*::before,
*::after {
  font-family: inherit;
}

/* Setting font property for body so that everyone can inherit it */
body {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  font-family: var(--font-family);
  color: var(--color-font);
}

/* Inheriting font property for input, select and textarea tags */
input,
select,
textarea {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: inherit;
  color: inherit;
}

/* reset-anchor */
.reset-anchor,
.reset-anchor * {
  color: inherit;
  text-decoration: inherit;
}

// a.reset-anchor,
// .reset-anchor a {
//   display: inline-block;
// }

.typography-logo-style {
  font-family: 'Permanent Marker', cursive !important;
  font-weight: 400 !important;
  letter-spacing: 0.05em !important;
}

/* ----- Headings ----- */
.heading-primary {
  font-size: 5rem;
  line-height: 1.1;
}

.heading-primary-sub {
  font-size: 1.6rem;
}

.heading-secondary {
  font-size: 4.4rem;
  font-family: var(--font-family-secondary);
  text-align: center;
  position: relative;
  margin-bottom: 2rem;

  &::after {
    content: '';

    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);

    background: #ff523b;
    width: 10rem;
    height: 0.5rem;
    border-radius: 0.5rem;
  }
}

.heading-tertiary {
  font-size: 3.2rem;
  line-height: 1.8;

  font-weight: 400;
  letter-spacing: 0.5px;

  position: relative;
  transform: scaleX(0.9);
  transform-origin: 0 0;
  margin-bottom: 1rem;

  &--2 {
    font-family: var(--font-family-secondary);
    font-weight: 700;
  }

  &::before {
    content: '';
    background: #ff523b;
    width: 100px;
    height: 3px;
    border-radius: 5px;
    position: absolute;
    bottom: -3px;
    left: 0%;
  }
}

.heading-quadinary {
  font-size: 2rem;
  font-weight: 700;
}

.para-primary {
  font-size: 1.4rem;
  line-height: 1.9;
  color: var(--color-grey-dark-2);
}
