.my-orders {
  &__card {
    display: grid;
    grid-template-columns: 10rem 2fr 1fr 1fr;
    align-items: center;
    gap: 2%;
  }

  &__box-1 {
    height: 10rem;
    position: relative;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__order-no {
    line-height: 1.4;
    letter-spacing: 0.4px;
  }

  &__small-text {
    font-size: 1.3rem;
    color: var(--color-grey-dark-2);
    letter-spacing: 0.2px;
  }

  &__quantity-and-amount {
    display: flex;
    align-items: center;
    margin-top: 0.8rem;
  }

  &__price {
    margin-left: 1.3rem;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.4px;
  }

  &__status {
    @include currentColorOptions;
    color: var(--current-color);
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 1.4;
  }

  &__date {
    font-weight: 600;
    line-height: 1.4;
  }
}
